<div class="header"> <!--αν δε το βαλω θα βγει undefined το μειλ γτ οντως ειναι μεχρι να παρει τιμη απο το subscription-->
    <div>
       <h3>Subject: {{ email.subject }} </h3>
        <div>
            <b>From:</b> {{ email.from }}
        </div>
        <div>
           <b>To:</b>  {{ email.to }}
        </div>
    </div>


<!--Here I return the email-reply component-->
<div>
    <app-email-reply [email]="email"></app-email-reply>
</div>
</div>

<div class="ui divider"></div>
    <div [innerHTML]="email.html"></div>

