<h3>Create an Account</h3>

<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
    
    <!--Errors associated with each form input-->
    
    <!-- In this case, label and type are Html attributes when control is DOM property-->
    <!--Value of an attribute is a constant, value of a DOM property is a variable-->
    <app-input label="Username" inputType="text"  [control]="authForm.get('username')"></app-input>

    <app-input label="Password" inputType="password" [control]="authForm.get('password')"></app-input>

    <app-input label="Password" inputType="password" [control]="authForm.get('passwordConfirmation')"></app-input>

    <!--Errors associated with the overal form-->
    <div *ngIf="authForm.get('password').touched && 
    authForm.get('passwordConfirmation').touched && 
    authForm.errors" 
    class="ui red basic label">
        <p *ngIf="authForm.errors.passwordsDontMatch">Passwords don't match</p>
        <p *ngIf="authForm.errors.noConnection">Check your Internet connection</p>
        <p *ngIf="authForm.errors.unknownError">An unknown error occured</p>
    </div>

   <button class="ui submit button primary">Submit</button>

</form>